<div class="page-header text-center" style="background-image: url('https://portotheme.com/html/molla/assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title"><span>Shop</span></h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->

<app-nav-shop/>

<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <app-tool-box/>
                <app-product-shop/>
                <app-navigation-shop/>
            </div>
            <aside class="col-lg-3 order-lg-first">
                <app-aside-shop/>
            </aside>
        </div>
    </div>
</div>