.input-color {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer
}

.review form{
    display: flex;
    justify-content: space-around;
}
.review textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.review button {
    padding: 1px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.review button:hover {
    background-color: #555;
}