<div class="products mb-3">
    <div class="row justify-content-center" >
        
        <div class="col-6 col-md-4 col-lg-4 col-xl-3" *ngFor="let product of listProduct">

            <div class="product product-7 text-center">
                <figure class="product-media">
                    <a href="/shop/detail/{{product.slug}}">
                        <img src="{{product.thumbnail}}" alt="Product image" class="product-image">
                    </a>

                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable" ><span>add to wishlist</span></a>
                        <a href="product.image" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                        <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                    </div><!-- End .product-action-vertical -->

                    <div class="product-action">
                        <a  class="btn-product btn-cart " (click)="onAddCart(product)"><span>add to cart</span></a>
                    </div><!-- End .product-action -->
                </figure><!-- End .product-media -->

                <a routerLink="/shop/detail/{{product.slug}}">
                <div class="product-body">
                    <div class="product-cat">
                        <!-- <a href="">Bags</a> -->
                    </div><!-- End .product-cat -->
                    <h3 class="product-title"><a href="/shop/detail/{{product.slug}}">{{product.name}}</a></h3><!-- End .product-title -->
                    <div class="product-price">
                        ${{product.price}}
                    </div><!-- End .product-price -->
                    <div class="ratings-container">
                        <div class="ratings">
                            <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                        </div><!-- End .ratings -->
                        <span class="ratings-text">( 1000 Reviews )</span>
                    </div><!-- End .rating-container -->
                </div></a><!-- End .product-body -->
            </div><!-- End .product -->
        </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->


    </div>
</div><!-- End .products -->