

   <div class="col-12">
    <form (ngSubmit)="onHandleSubmit()" [formGroup]="SizeForm">
      <div class="card">
        <h5>Thêm Size</h5>
        <div class="p-fluid p-formgrid grid">
          <div class="field col-12 md:col-12">
            <label htmlFor="name">Tên Size</label>
            <input pInputText id="name" type="text" formControlName="name" />
            <div class="error-message" *ngIf="SizeForm.get('name')?.invalid && SizeForm.get('name')?.touched">
              <div style="color: red;" *ngIf="SizeForm.get('name')?.errors?.['required']">Tên Size là bắt buộc.</div>
              <div  style="color: red;" *ngIf="SizeForm.get('name')?.errors?.['minlength']">Tên Size phải có ít nhất 5 ký tự.</div>
              <div  style="color: red;" *ngIf="SizeForm.get('name')?.errors?.['maxlength']">Tên Size không được vượt quá 10 ký tự.</div>
              <div  style="color: red;" *ngIf="SizeForm.get('name')?.errors?.['forbiddenName']">Tên Size không hợp lệ.</div>
            </div>
          </div>
          
          <div class="field col-12 md:col-1">
            <button [disabled]="SizeForm.invalid" type="submit" pButton>Thêm</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  